<div id="dff_readme">
<h1 id="views-dynamic-fields-and-filters">Views dynamic fields and filters</h1>
<h6 id="enables-site-builders-to-easily-enable-or-disable-fields-and-filters-in-a-view-conditionally-based-on-the-values-of-exposed-contextual-filters-or-basically-any-request-parameters-">Enables site builders to easily enable or disable fields and filters in a view conditionally based on the values of exposed/contextual filters or basically any request parameters.</h6>
<p>Can be used for any display type and any format that uses the fields defined in the view display.</p>
<h3 id="idea">Idea</h3>
<p>The initial idea was to build more convenient content browsers where you show specific fields and filters only if the relevant content type was selected without having to programm custom code.</p>
<p>With this resulting module there are endless use cases to apply this. In example:</p>
<ul>
<li>You have a JSON REST export made with views and wanted to show specific fields or apply a specific filter only if specific query parameters and values are supplied.</li>
<li>You have a search page made with views and you wanted to show a &quot;range filter&quot; only if the user selected &quot;search mode&quot; to be &quot;range&quot; or show specific fields only if a user checked a checkbox &quot;show details&quot;.</li>
<li>Or express even more complex &quot;funnels&quot; i.e: Apply non-exposed filter &quot;a&quot; only if exposed filter &quot;b&quot; is one of &quot;foo&quot; or &quot;bar&quot; and exposed filter &quot;c&quot; is greater than 25</li>
</ul>
<h3 id="configuration-">Configuration:</h3>
<h5 id="general">General</h5>
<p>When installing this module, a new section <strong>Dynamic fields and filters</strong> will be available at the advanced column on each display in the views edit-UI.
The Settings are per display, if you already have settings in another display of the same view you can copy them into the current display with a button in the dialog.</p>
<h5 id="configurate-parameters-">Configurate &quot;parameters&quot;</h5>
<p>In the dialog you can assign up to 9 request parameters to listen to, so that you can  enable or disable fields or filters when the value of a parameter matches a certain condition.
Enter the request parameter names as they appear in the query i.e &quot;type&quot; for view-url &quot;example.com/my_view?type=foobar&quot;. Works for POST-parameters as well. You can also find the parameter names of exposed filters or exposed sorts in their edit-dialog under &quot;filter identifier&quot; or &quot;sort field identifier&quot;. For Contextual filters it will only work if their &quot;provide a default value type&quot; is &quot;Query parameter.</p>
<h3 id="adjust-administrative-titles-to-enable-or-disable-fields-and-filters-">Adjust &quot;Administrative titles&quot; to enable or disable fields and filters.</h3>
<h5 id="title-syntax">Title syntax</h5>
<p>Within the &quot;administrative title&quot; of a field or a filter you can use this syntax to only enable them if the value of a configurated parameter matches the given expression.
You can refer to the values of your parameters with <code>dff1</code> to <code>dff9</code>.</p>
<p>The syntax is:</p>
<p><code>dff{1..9}|expression|&quot;Your custom Administrative title&quot;</code></p>
<p>Where <code>dff1</code> to <code>dff9</code>  refers to the value of a parameter.</p>
<p><code>expression</code> is either the string value to match or a more specific expression.</p>
<p>And <code>&quot;Your custom Administrative title&quot;</code> is ...your custom administrative title. You could also leave this blank, but you must always add to trailing pipe after &quot;expression&quot;</p>
<h5 id="expression-syntax">Expression syntax</h5>
<p>If you just want to loosely compare strings (like <code>&#39;abc&#39; == &#39;abc&#39;</code> in php or js)
you only write the string value, in example:</p>
<p><code>dff3|foobar|</code> expresses &quot;Value of parameter3 matches &#39;foobar&#39;&quot;</p>
<p>For all other expressions you write:</p>
<p><code>|{operator:value}|</code></p>
<p>Available value operators are:</p>
<p><code>{neq:value}</code> - Not equals</p>
<p><code>{in:value,value2,value3}</code> - In array (delimiter is &quot;,&quot; without a space)</p>
<p><code>{nin:value,value2,value3}</code> - Not in array</p>
<p><code>{gt:value}</code> - Greater than</p>
<p><code>{lt:value}</code> - Smaller than</p>
<p><code>{cn:value}</code> - Contains</p>
<p><code>{ncn:value}</code> - Not contains</p>
<p>Examples:
<code>dff2|{gt:5}|</code> expresses &quot;Value of parameter2 is greater than 5&quot;
<code>dff4|{in:foo,bar}|</code> expresses &quot;Value of parameter4 is either &quot;foo&quot; or &quot;bar&quot;&quot;</p>
<p>If the query value itself is an array like in this example query:
<code>?types[]=foo&amp;types[]=bar</code>
Each element will be evaluated, the expression is true if one the elements matches.</p>
<p>Always enter the url-decoded values, the value of foo in the query <code>?foo=bar+foobar+barfoo</code> would be <code>bar foobar barfoo</code></p>
<p>There is also a setting &quot;Case insensitive string comparison.&quot; in the settings dialog in case you want that.</p>
<h5 id="combine-expressions">Combine expressions</h5>
<p>You can logically chain multiple conditions with the chaining syntax:</p>
<p><code>dff{1..9}|expression|OPERATOR|dff{1..9}|expression|&quot;Your custom Administrative title&quot;</code></p>
<p>Where <code>OPERATOR</code> is either <code>AND</code>, <code>OR</code> or <code>XOR</code> (uppercase), you can use a total of 10 operators per label, each must be followed by the <code>&quot;|dff{1..9}|expression|&quot;</code> pattern.</p>
<p>In example:</p>
<p><code>dff2|{gt:5}|AND|dff4|{in:foo,bar}|OR|dff3|foobar|</code> <em>(dff2 is greater than 5 AND dff4 is one of &quot;foo&quot; or &quot;bar&quot;) OR dff3 matches &quot;foobar&quot;</em></p>
<p><em>For detailed information on how they work, check out the php´s <a href="https://www.php.net/manual/en/language.operators.logical.php">Logical Operators</a> The here provided operators work with the precedence like using &quot;&amp;&amp;&quot;, &quot;||&quot; and &quot;xor&quot;</em></p>
<p>You can use the condition syntax for the parameters as well, this way you can make even more complex chaining without writing long and repeating conditions.</p>
<h5 id="in-depth-example-show-field-author-only-if-exposed-content-type-filter-is-basic-page-">In depth example: Show field &quot;Author&quot; only if exposed &quot;Content type&quot; filter is &quot;Basic Page&quot;</h5>
<p>Lookup the &quot;filter identifier&quot; of your exposed &quot;content type&quot; filter, i.e <code>type</code> and enter it in this Dynamic fields and filters settings in the advanced tab in the tab &quot;Base filters&quot; i.e as <code>dff1</code>, then you lookup the value that is used when &quot;Basic Page&quot; is selected, i.e <code>page</code>. klick on the field &quot;Author&quot; and go to the tab &quot;Administrative title&quot; and enter:</p>
<p><code>dff1|page| &quot;Your custom Administrative title&quot;</code></p>
<h3 id="installation">Installation</h3>
<p>Install as you would normally install a Drupal module.</p>
<p>In example:
<code>composer require drupal/views_dynamic_fields_and_filters</code></p>
<h3 id="requirements">Requirements</h3>
<p>This module works out of the box on a minimal Drupal install as it only requires &quot;Views&quot; which is required by system.</p>
<h5 id="drupal-core-">Drupal Core:</h5>
<p>Tested with core 9.3.x, 9.4.x, 10.0.x 10.1.x and php 8.1.0 &amp; 7.4.26</p>
<p>Tested with core modules &quot;Views REST export&quot; &amp; &quot;Serialization&quot; (They are not required to be enabled)</p>
<h5 id="contrib-">Contrib:</h5>
<p>Compatible and tested with &quot;Views Conditional&quot;</p>
</div>
